{% extends 'layout.html' %}
{% block content %}

    <h2>{{user.name}}:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Badges</th>
                <th>Title</th>
                <th>Status</th>
                <th>Grant</th>
            </tr>
        </thead>
        
        {% for badge in badges %}
        <tr>
            <td><img style="height: 64px; width: 64px" src="{{badge.image_url}}"/></td>
            <td>{{badge.name}}</td>
            <td>{{badge.status}}</td>
            <td>
                <form method="post" action="{{url_for('manage_grant', id=user.id )}}">
                    {{ form.csrf_token }}
                    <input name="email" type="hidden" value="{{ user.email }}"/>
                    <input name="badge" type="hidden" value="{{ badge.id }}"/>
                    
                    <button type="submit" class="btn btn-success"><i class="fa fa-magic"></i>Grant</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
