{% extends 'layout.html' %}
{% block content %}

    <h2>{{user.name}}:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Badges</th>
                <th>Title</th>
                <th>Status</th>
                <th>Grant</th>
            </tr>
        </thead>
        
        {% for badge in badges %}
        <tr>
            <td><img src="{{badge.image_url}}"/></td>
            <td>{{badge.name}}</td>
            <td>{{badge.status}}</td>
            <td>
                <form method="post" action="{{url_for('manager_grant')}}">
                    {{ form.csrf_token }}
                    <input name="email" type="hidden" value="{{ user.email }}"/>
                    <input name="badge" type="hidden" value="{{ badge.id }}"/>
                </form>
                <button href="{{url_for('manage_user', id=user.id)}}" class="btn btn-success"><i class="fa fa-pencil"></i>
                    Edit</button>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
